@charset "utf-8";

body {
    font-family: 'Courier New', Courier, monospace;
}

#computer-box {
    width: 600px;
    margin: auto;
    padding: 20px;
    background: lightgray;
    text-align: center;
    border-radius: 10px;
}

h1 {
    width: 60%;
    margin: 20px auto;
    background: wheat;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
}

section {
    width: 400px;
    margin: 40px auto;;
    padding: 30px;
    border: 4px double tan;
    border-radius: 10px;
}

button {
    all: unset;
    width: 100px;
    background: navajowhite;
    font-size: 20px;
    padding: 10px;
    border: 2px solid rosybrown;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    opacity: .7;
}

p {
    font-size: 20px;
    width: 200px;
    margin: 20px auto;
    padding: 20px;
    border: 4px double tan;
    border-radius: 10px;
    text-align: center;
    
}

.disabled {
    opacity: .3;
    pointer-events: none;
}